

.container1{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .listContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
  
  }
  
  .resultContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }